/* WebOS Template: WebOS-Platinum StyleSheet */
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px 0;
	background: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

h1, h2, h3 {
	color: #333333;
}

h2 {
}

h3 {
	font-size: 1em;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.65em;
	text-align: justify;
}

p {
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}
.menu_items {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	
}
a.menu_items {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	
}
a.menu_items:link {
	text-decoration: none;
}
a.menu_items:visited {
	text-decoration: none;
	color: #666;
	
}
a.menu_items:hover {
	text-decoration: underline;
	color: #666;
}
a.menu_items:active {
	text-decoration: none;
	color: #666;
	font-weight:bold;
}

a {
	text-decoration: underline;
	color: #3E9722;
}

a:hover {
	text-decoration: none;
	color: #E58C24;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}
/*Global Breadcrumbs Styles*/
#breadcrumbs {
height: 25px;
vertical-align: middle;
background-color: #f1f1f1;
font-size: 14px;
margin: 5px 20px 5px 20px;

padding: 0px;
background: url(../gradient.png);
text-align:left;
}
.breadcrumb_nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	font-weight:bold;
}
a.breadcrumb_nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	font-weight:bold;
}
a.breadcrumb_nav:link {
	text-decoration: none;
}
a.breadcrumb_nav:visited {
	text-decoration: none;
	color: #666;
	font-weight:bold;
}
a.breadcrumb_nav:hover {
	text-decoration: underline;
	color: #666;
}
a.breadcrumb_nav:active {
	text-decoration: none;
	color: #666;
}
/*End BreadCrumbs*/

/*Global Form Styles*/
#searchform {
	margin:2px 0;
	padding:5px 0;
}
#sidebar2 #searchform #s {
	width:130px;
	padding:2px;
}
#sidebar2 #searchsubmit {
	padding:1px;
}
.entry form {
	text-align:center
}
select {
	width:130px;
}
#commentform input {
	width:170px;
	padding:2px;
	margin:5px 5px 1px 0
}
#commentform textarea {
	width:100%;
	padding:2px
}
#commentform #submit {
	margin:0;
	float:right
}
.FormButton {
	COLOR: #000000;
	FONT-WEIGHT: bold;
}
TABLE.ButtonTable {
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
	DIRECTION: ltr;
}
TD.Button {								 
	BACKGROUND: url(../../modules/blog/images/buttons/button_bg.gif);
	/*BACKGROUND-COLOR: #FF8600;*/
	BACKGROUND-REPEAT: repeat-x;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	VERTICAL-ALIGN: middle;
	WHITE-SPACE: nowrap;
}
FONT.Button {								 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	TEXT-DECORATION: none;
}
IMG.ButtonSide {
	WIDTH: 7px;
	HEIGHT: 20px;
}
.SimpleButton TR TD {
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
A.Button:link, A.Button:visited, A.Button:hover, A.Button:active {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}
/*End of Global Forms Styles*/

/* Boxed Style */

.boxed {
}

.boxed .title {
	background: #3C74E6 url(../img06.gif) repeat-x;
}

.boxed .title h2 {
	height: 28px;
	padding: 12px 0 0 20px;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFFFFF;
}

.boxed .content {
	border-top: 1px solid #FFFFFF;
	background: url(../img07.gif) repeat-x;
	text-align:left;
}

/* Post */

.post {
}

.post .title {
	background: #3C74E6 url(../img06.gif) repeat-x;
	font-size: 1em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.post .title span {
	display: block;
	height: 28px;
	padding: 12px 0 0 20px;
}

.post .date {
	margin-top: -25px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align: right;
	font-size: x-small;
	color: #FFFFFF;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
}

.post .meta {
	clear: both;
}

.post .meta p {
	margin: 0;
	padding: 10px 20px 40px 20px;
	border-top: 1px dotted #CCCCCC;
	line-height: normal;
	font-size: x-small;
}

.post .story {
	padding: 20px;
	border-top: 1px solid #FFFFFF;
	background: url(../img07.gif) repeat-x;
}

/* Header */

#header {
	width: 920px;
	height: 120px;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	background: #CAE646 url(../img01.jpg) no-repeat;
}

/* Header > Logo */


#logo {
	float: left;
	width: 240px;
	height: 50px;
}

#logo h1 {
	float: left;
	margin: 0;
	padding: 50px 0 0 0;
	font-size: 2.6em;
}

#logo h2 {
	float: left;
	margin-top: -5px;
	font-size: 1em;
}

#logo a {
	text-decoration: none;
	color: #000000;
}

/* Header > Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding-top: 79px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	margin-left: 2px;
	padding-top: 10px;
	background: url(../img03.gif) no-repeat;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background-image: url(../img04.gif);
}

#menu .active a {
	background-image: url(../img05.gif);
}

/* Content */

#content {
	width: 920px;
	margin: 0 auto;
	padding: 20px;
	background: url(../img02.jpg) no-repeat;
	border-top: 1px solid #FFFFFF;
}

/* Content > Main */

#main {
	float: left;
	width: 480px;
	padding-left: 20px;
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar (left Column) & Sidebar2 (right Column)*/

#sidebar {
	float: left;
	width: 180px;
	padding-right: 10px;
}

#sidebar .boxed .title h2 {
	background: url(../img08.gif) no-repeat;
}


#sidebar2 {
	float: left;
	width: 180px;
	padding-left: 10px;
}

#sidebar2 .boxed .title h2 {
	background: url(../img10.gif) no-repeat right top;
}

#sidebar2 .boxed .content {
	border-top: 1px solid #FFFFFF;
	background: url(../img07.gif) repeat-x;
	text-align:right;
}
/* Footer */

#footer {
	clear: both;
	width: 960px;
	height: 80px;
	margin: 0 auto;
	padding: 20px 0;
	background: url(../img02.jpg) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: x-small;
}

#footer a {
	text-decoration: underline;
	color: #666666;
}

#footer a:hover {
	text-decoration: none;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}
/*Blog Styles*/
table.calendar {
	background: #Ffffff;
	width: 75px;
	height: 100px;
	font: .9em Verdana, Arial, Helvetica, sans-serif;
}
.calendar td {
	text-align: center;
	border: 0px solid #dddddd;
	background-color: #Ffffff;
}
.calendar a {
	color:#3F77B2;
	text-decoration:underline
}
.postcomment {
	border-bottom: 1px solid #dddddd;
	color:#555;
	padding:10px 0 2px 0px
}
.postcomment a:link, .postcomment a:visited, .postcomment a:active {
	color:#3F77B2;
	text-decoration:none;
}
.postcomment a:hover {
	text-decoration:underline
}
.commentCount {
	border-bottom: 1px solid #dddddd;
	color:#555;
	font-size:1.1em;
	padding:2px 0px 7px 5px
}
.ComLink {
	font-size:.8em;
}
.commentText {
	color:#555;
	padding:10px 0 2px 0px
}
.code {
		background-color: #F7F5EE;
		border-top: 3px solid #ECE9D8;
		border-right: 1px solid #ECE9D8;
		border-left: 1px solid #ECE9D8;
		border-bottom: 1px solid #ECE9D8;
		font-size: 17px;
		padding: 10px; 
		margin: 0px 0px 5px 0px;
		color: #555555;
		text-decoration: none;
}
.code {
		background-color: #EDF7E7;
		border: 1px solid #BBCCBB;
		width: 90%;
		text-align: left;
		font-size: 10px;
		padding: 14px; 
		margin: 11px 0px 5px 0px;
		color: #555555;
		text-decoration: none;
}
.code a,a a:link, a a:visited, a a:active {
		font-size: 17px;
		padding: 5px; 
		margin: 15px 0px 5px 0px;
		color: #555555;
		text-decoration: none;
}
.code a:hover {
		font-size: 17px;
		padding: 5px; 
		margin: 15px 0px 5px 0px;
		color: #CDC9BC;
		text-decoration: none;
		border-left: 5px solid #CDC9BC;
}

.ms {
	font:1.2em Verdana, Arial, Helvetica, sans-serif;
	padding:20px 20px 0 30px;
	color:#fff;
	}
#menu ul {
	background:#EBEBEB;
	padding:5px 20px;
}
#menu ul li {
	display:inline;
	padding:0 30px 0 0
}
#menu ul li a:link, #menu ul li a:active, #menu ul li a:visited, #menu ul li a:hover {
	color:#000;
	font:.9em Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-transform:uppercase
}
#menu ul li a:hover {
	color:#0000CC;
	font:.9em Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	text-transform:uppercase
}
.post {
	text-align:justify;
}
.postmetadatatop {
	color:#555;
	font-size:.85em;
	padding:2px 0 7px 0
}
.postmetadatatop a:link, .postmetadatatop a:visited, .postmetadatatop a:active {
	color:#3F77B2;
	text-decoration:none
}
.postmetadatatop a:hover {
	text-decoration:underline
}
.postmetadatabottom {
	color:#555;
	font-size:.85em;
	padding:2px 0 20px 0;
	border-top:1px solid #ddd
}
.postmetadatabottom a:link, .postmetadatabottom a:visited, .postmetadatabottom a:active {
	color:#3F77B2;
	text-decoration:none
}
.postmetadatabottom a:hover {
	text-decoration:underline
}
.entry, .entrytext {
	line-height:140%;
	margin:2px 0 5px 0
}
.entrytext p {
	margin:0 0 15px 0
}
.entry ul, .entry ol, .entrytext ul, .entrytext ol {
	margin:5px 0 5px 26px
}
#categories {
	padding:0px 0px 0px 20px;
}
#categories a:active, #categories a:link, #categories a:visited {
	color:#3F77B2;
	text-decoration:none
}
#categories a:hover {
	color:#3F77B2;
	text-decoration:underline
}
p img {
	padding:0;
	max-width:100%
}
img.centered {
	display:block;
	margin-left:auto;
	margin-right:auto
}
img.alignright {
	padding:4px;
	margin:0 0 2px 7px;
	display:inline
}
img.alignleft {
	padding:4px;
	margin:0 7px 2px 0;
	display:inline
}
.alignright {
	float:right
}
.alignleft {
	float:left
}	
#akst_form {
	background: #ccc;
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	width: 350px;
	z-index: 999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}
#akst_form a.akst_close {
	color: #fff;
	float: right;
	margin: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#akst_form ul.tabs {
	border: 1px solid #ccc;
	list-style: none;
	margin: 10px 10px 0 10px;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#akst_form ul.tabs li {
	background: #ddd;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	float: left;
	margin: 0 3px 0 0;
	padding: 3px 5px 2px 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#akst_form ul.tabs li.selected {
	background: #fff;
	border-bottom: 1px solid #fff;
	cursor: default;
	padding: 4px 5px 1px 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#akst_form div.clear {
	clear: both;
	float: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#akst_social, #akst_email {
	background: #fff;
	border: 1px solid #fff;
	padding: 10px;
}
#akst_social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#akst_social ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 45%;
}
#akst_social ul li a {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 24px;
	padding: 4px 0 0 22px;
	vertical-align: middle;
	color: #000;
}
#akst_social ul li a:hover {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 24px;
	padding: 4px 0 0 22px;
	vertical-align: middle;
	color: #ff0000;
}
#akst_delicious {
	background-image: url(../images/share_this/delicious.gif);
}
#akst_digg {
	background-image: url(../images/share_this/digg.gif);
}
#akst_furl {
	background-image: url(../images/share_this/furl.gif);
}
#akst_netscape {
	background-image: url(../images/share_this/netscape.gif);
}
#akst_yahoo_myweb {
	background-image: url(../images/share_this/yahoo_myweb.gif);
}
#akst_stumbleupon {
	background-image: url(../images/share_this/stumbleupon.gif);
}
#akst_google_bmarks {
	background-image: url(../images/share_this/google_bmarks.gif);
}
#akst_technorati {
	background-image: url(../images/share_this/technorati1.gif);
}
#akst_blinklist {
	background-image: url(../images/share_this/blinklist.gif);
}
#akst_newsvine {
	background-image: url(../images/share_this/newsvine.gif);
}
#akst_magnolia {
	background-image: url(../images/share_this/magnolia.gif);
}
#akst_reddit {
	background-image: url(../images/share_this/reddit.gif);
}
#akst_windows_live {
	background-image: url(../images/share_this/windows_live.gif);
}
#akst_tailrank {
	background-image: url(../images/share_this/tailrank.gif);
}
#akst_slashdot {
	background-image: url(../images/share_this/slashdot.gif);
}
#akst_spurl {
	background-image: url(../images/share_this/spurl.png);
}
#akst_email {
	display: none;
	text-align: left;
}
#akst_email form, #akst_email fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
#akst_email fieldset legend {
	display: none;
}
#akst_email ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#akst_email ul li {
	margin: 0 0 7px 0;
	padding: 0;
}
#akst_email ul li label {
	color: #555;
	display: block;
	margin-bottom: 3px;
}
#akst_email ul li input {
	padding: 3px 10px;
}
#akst_email ul li input.akst_text {
	padding: 3px;
	width: 250px;
}
.akst_share_link {
	padding: 1px 0 0px 0px;
}

/*End Blog Styles*/